<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<% if user_signed_in? %>
				<%= link_to "Treebook", activities_path, class: 'brand' %>
				<% else %>
				<%= link_to "Treebook", root_path, class: 'brand' %>
				<% end %>
				<ul class="nav">
					<li><%= link_to "All Statuses", feed_path %></li>
					<% if user_signed_in? %>
						<li id="activity-feed"><%= link_to "Activity Feed", activities_path %></li>
					<% end %>
				</ul>					
				<ul  class="nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to 'Albums', albums_path(current_user) %></li>
						<li><%= link_to 'Friends', user_friendships_path %></li>
						<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
						<li><%= link_to "Log Out", logout_path %></li>
					<% else %>
						<li><%= link_to "Register", register_path %></li>
						<li><%= link_to "Log In", login_path %></li>
					<% end %>

				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<i class=""></i>
		<%=  render_breadcrumbs %>
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">x</button>
				<%= message %>
			</div>
		<% end %>

	
		<%= yield %>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="muted credit">"Designed and built by "
				<a href="#" target="_blank">Usman Shamaki</a>
				"and "
				<a href="#">Shamsky</a> "."
			</p>
		</div>
	</footer>
</body>

<script id="activities-template" type="text/x-handlebars-template">
	<a class="dropdown-toggle" href="#">Activity Feed</a> 
	<ul class="dropdown-menu">
		{{#each activities}}
			{{activityLink}}
			
		{{/each}}
	</ul>
</script>
</html>
